
/* 1. Standardize
----------------------------------------------------------------------------- */

	/* Reset */
	
	article,
	body,
	div,
	footer,
	header,
	h1,
	h2,
	h3,
	li,
	ol,
	p,
	time,
	ul { margin: 0; padding: 0; }
	
	/* HTML5 */
	
	article,
	footer,
	header { display: block; }
	
	/* Base */
	
	html { overflow-y: scroll; }
	body { color: #333; font: 100%/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif; text-rendering: optimizeLegibility; }
	
	/* Block */
	
	h1 { font-size: 450%; letter-spacing: -.05em; line-height: 600px; margin: 0 0 75px; text-align: center; }
	h2,
	h3 { line-height: 1; margin: 2em 0 .5em; }
	h2 { font-size: 175%; }
	h3 { font-size: 125%; }
	
	ol, p, ul { margin: 0 0 1.5em; }
	
	/* Inline */


/* 2. Interface
----------------------------------------------------------------------------- */

	/* RootClear Floats */
	
	article:after { height: 0; clear: both; content: "\0020"; display: block; visibility: hidden; }
	
	/* Article */
	
	article { max-width: 600px; margin: 0 auto; padding: 0 75px; }


/* 3. Respond
----------------------------------------------------------------------------- */

@media (max-device-width: 480px), (max-width: 480px) {

	body { font-size: 90%; }
	h1 { line-height: 300px; margin: 0; }
	article { padding: 0 25px; }

}